:root {
    --left-top: 10px;
    --right-top: 41px;
    --move-out: translateY(-1000px);
    --left-left: 190px;
    --right-left: 20px;
    --case-width: 500px;
    --bud-width: 290px;
}

*,*::after,*::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main {
    max-width: max-content;
    position: absolute;
    top: -90px;
    overflow: hidden;
}

.main img:nth-of-type(1) {
    position: absolute;
    width: var(--bud-width);
    left: var(--left-left);
    height: auto;
    transform: var(--move-out);
    animation: anim-left 4s 0.5s ease-in-out forwards;
}

.main img:nth-of-type(2) {
    position: absolute;
    width: var(--bud-width);
    left: var(--right-left);
    transform: var(--move-out);
    animation: anim-right 4s ease-in-out forwards;
}

.main img:nth-of-type(3) {
    width: var(--case-width);
}
    
@keyframes anim-left {
    from {
    transform: var(--move-out);
    }

    to {
    top: var(--left-top);
    transform: none;
    }
}

@keyframes anim-right {
    from {
    transform: var(--move-out);
    }

    to {
    top: var(--right-top);
    transform: none;
    }
}

